<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="/css/flowchart.css">
    <title>Create Flowchart</title>
</head>
    <body>
        <header>
            <%- include('partials/sidebar'); -%>
        </header>
            <main>
                <div class="main-window">
                    <%- include('partials/searchbar'); -%>
                    <div class="creating-flag">
                        You are creating a new flowchart.
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Actions
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                              <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#addCourse" >Add Course</button>
                              <div class="dropdown-divider"></div>
                              <button type="button" class="btn btn-primary dropdown-item">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    <div class="flowchart-info">
                        <div class="col-sm-10">
                        <input class="form-control form-control-lg" type="text" placeholder="Enter Flowchart Name...">
                        </div><br>
                        <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Enter College Department...">
                        </div>
                    </div>
                    
                    <div id="flowchart-table">
                        <div class="ay">
                            <div class="col-sm-8">
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Academic Year...">
                            </div>
                            <div class="term-header">
                                <div class="term">Term 1</div>
                                <div class="term">Term 2</div>
                                <div class="term">Term 3</div>
                            </div>
                        </div>
                        <div id="ay-adder">
                            <button id="add-sy" onclick="addSY()">+</button>
                            <script>
                                function addSY(){
                                    console.log("Adding SY");

                                    const flowchartTable = document.getElementById("flowchart-table");
                                    const mainCanvas = document.getElementById('canvas')

                                    //MAIN PARENT
                                    var newSY = document.createElement('div');
                                    newSY.className = 'ay'

                                    //MAIN CHILD: SY
                                    var inputSY = document.createElement('div')
                                    inputSY.className = 'col-sm-8'

                                    //MAIN CHILD: term headers
                                    var termHeader = document.createElement('div')
                                    termHeader.className ='term-header'

                                    //CHILD OF TERM HEADERS
                                    var term1 = document.createElement('div')
                                    term1.className='term'
                                    term1.innerHTML='Term 1'
                                    var term2 = document.createElement('div')
                                    term2.className='term'
                                    term2.innerHTML='Term 2'
                                    var term3 = document.createElement('div')
                                    term3.className='term'
                                    term3.innerHTML='Term 3'

                                    //INSERT ALL INTO HTML
                                    flowchartTable.insertBefore(newSY, document.getElementById('ay-adder'))
                                    newSY.appendChild(inputSY)
                                    newSY.appendChild(termHeader)
                                    termHeader.appendChild(term1)
                                    termHeader.appendChild(term2)
                                    termHeader.appendChild(term3)

                                    mainCanvas.style.width = parseInt(mainCanvas.style.width) + 330 + "px";
                                    
                                }
                            </script>
                        </div>
                        <div id="canvas" style="width: 330px;">
                            <!-- Please add the subjects here. -->
                            <% courses.forEach(function(course){ %>
                                <div class="subject"><%= course.code %></div>
                            <% }); %>
                            <svg id="svg-canvas">
                                <!-- Leave this blank -->
                            </svg>
                            <!-- <script type="text/javascript" src="/javascript/flowchart.js"></script> -->
                        </div>
                        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
                        <script>
                            $(".subject").draggable({
                                containment: $("#canvas"),
                                cursor: "grabbing",
                                grid: [110, 60],
                                stop: function(e, ui){
                                    console.log("Dragging stopped!");
                                    var leftSize = this.style.left;
                                    var topSize = this.style.top;

                                    console.log("LEFT: " + leftSize + ", TOP: " + topSize);
                                    console.log("NEW STYLE: LEFT: " + Math.round(parseInt(leftSize, 10) / 10) * 10 + " TOP: " + Math.round(parseInt(topSize, 10) / 10) * 10)
                                    this.style.left = Math.round(parseInt(leftSize, 10) / 10) * 10 + "px";
                                    this.style.top = Math.round(parseInt(topSize, 10) / 10) * 10 + "px";
                                }
                            })
                        </script>
                    </div>
                </div>
                 <!-- Modals -->
                <div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="addCourseLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><b>Add Course</b></h4>            
                    </div>
                    <form action="/addCourse" method="post">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="courseCode" class="col-sm-3 col-form-label"><b>Course Code</b></label>
                                <div class="col-sm-7">
                                    <input id="new-course-id" class="form-control form-control-sm" type="text" placeholder="Course Code here" name="code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Term" class="col-sm-3 col-form-label"><b>Term</b></label>
                                <div class="col-sm-7">
                                    <input type="number" id="place-in-term" class="form-control form-control-sm" placeholder="Term here" name="term">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add course</button>
                    </form>
                    </div>
                </div>
                </div>
                </div>

                <div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="deleteCourseLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Course</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Course Codes listed here
                            </label>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Delete courses</button>
                    </div>
                </div>
                </div>
                </div>

        </main>
        <%- include('partials/footer'); -%>
    </body>
</html>
