<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
        <title>Homepage</title>
    </head>
    <body>
    <header>
        <%- include('partials/sidebar'); -%>
    </header>
        <main>
        <%- include('partials/searchbar'); -%>
        <br>
        <h2 style="text-align:center">Hello, <b><%= profile.fullName.firstName %></b></h2>
        <h5 style="text-align:center">What do you want to do?</h5> <br/>

        <div class="card-group">
            <a href="/viewflowcharts">
            <div class="card">
                <i class="fa-solid fa-eye fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title"><b>View my Flowchart</b></h5>
                        <p class="card-text"><small class="text-muted">See all of your created works.</small></p>
                    </div>
            </div>
            </a>
            <a type="button" data-toggle="modal" data-target="#createFlowchart">
            <div class="card">
                <i class="fa-solid fa-diagram-predecessor fa-4x"></i>
                <div class="card-body">
                <h5 class="card-title"><b>Make a new Flowchart</b></h5>
                <p class="card-text"><small class="text-muted">Create a new one!</small></p>
                </div>
            </div>
            </a>
            <div class="modal fade" id="createFlowchart" tabindex="-1" role="dialog" aria-labelledby="addCourseLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"><b>Flowchart Details</b></h4>            
                        </div>
                        <form action="/createflowchart" method="post">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label for="courseCode" class="col-sm-3 col-form-label"><b>Title</b></label>
                                    <div class="col-sm-7">
                                        <input id="new-course-id" class="form-control form-control-sm" type="text" placeholder="Enter flowchart name here..." name="flowchartName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="profCode" class="col-sm-3 col-form-label"><b>College Dept.</b></label>
                                    <div class="col-sm-7">
                                        <input id="new-prof-id" class="form-control form-control-sm" type="text" placeholder="Enter college department here..." name="deptName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="profCode" class="col-sm-3 col-form-label"><b>Starting A.Y.</b></label>
                                    <div class="col-sm-7">
                                        <input id="new-prof-id" class="form-control form-control-sm" type="text" placeholder="Enter first A.Y. of flowchart here..." name="startAY">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Flowchart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a href="/viewUsers">
            <div class="card">
                <i class="fa-solid fa-user-group fa-4x"></i>
                <div class="card-body">
                <h5 class="card-title"><b>View Other Users</b></h5>
                <p class="card-text"><small class="text-muted">Sharing is caring.</small></p>
                </div>
            </div>
            </a>
            </div>
        
        </main>
        <%- include('partials/footer'); -%>
    </body>
</html>
