<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); -%>
</head>
<body>
<header>
    <%- include('partials/sidebar'); -%>
</header>
<main>
    <%- include('partials/searchbar'); -%>
    <br>
    <h2 style="text-align:left;margin-left:1em">Here's what we found:</h2>
    <!-- Friend Results -->
    <div class="friend-list">
        <ul class="list-group list-group-flush">
            <% accounts.forEach(function(account){ %>
            <!-- <a  href="FriendsProfile1.html" style="text-decoration: none;"> -->
            <li class="list-group-item content">
                <div >
                    <img src="images/andrea-piacquadio.jpg" class="friend-icon" alt="FriendResult1">
                </div>
                <div class="friend-txt"><%= account.fullName.firstName %> <%= account.fullName.lastName %>
                    <div class="friend-subtxt"><%= account.userName %></div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            <!-- </a> -->
            <% }); %>
        </ul>
    </div>
</main>
    <%- include('partials/footer'); -%></body>
</html>
