<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <title>User Profile</title>
</head>
<body>
<header>
    <%- include('partials/sidebar'); -%>
</header>
<main>
    <%- include('partials/searchbar'); -%>
    <!-- User's Display Picture -->
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img id="image" style="object-fit:cover;" src="images/<%=account.image%>" alt="display picture">
                        </a>
                        <h1><%= account.fullName.firstName %> <%= account.fullName.lastName %></h1>
                    </div>
                </div>
            </div>
            <!-- User's Information -->
            <div class="profile-info col-md-9">
                <div class="panel">
                    <div class="bio-graph-heading">
                        User's Information
                    </div>
                    <div class="panel-body bio-graph-info">
                        <br>
                        <div class="row">
                            <div class="bio-row" style="margin-left:10px">
                                <p><span>First Name </span>: <%= account.fullName.firstName %></p>
                            </div>
                            <div class="bio-row" style="margin-left:10px">
                                <p><span>Last Name </span>: <%= account.fullName.lastName %></p>
                            </div>
                            <div class="bio-row" style="margin-left:10px">
                                <p><span>Email </span>: <%= account.email %></p>
                            </div>
                            <div class="bio-row" style="margin-left:10px">
                                <p><span>Username </span>: <%= account.userName %></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Bio -->
                    <div class="bio-graph-heading">
                        Bio
                    </div>
                    <div class="bio-graph-bio">
                        <%= account.biography %>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
   
</main>
<%- include('partials/footer'); -%>
</body>
</html>
