
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="/css/flowchart.css">
    <title>View Flowchart</title>
</head>
    <body>
        <header>
            <%- include('partials/sidebar'); -%>
        </header>
            <main>
                <div class="main-window">
                    <%- include('partials/searchbar'); -%>
                    <div class="flowchart-info">
                        <h1><%= flowchart.title %></h1>
                        <h4><%= flowchart.department %></h4>
                    </div>
                    <div id="flowchart-table">
                        <div class="ay">
                            <div class="col-sm-8">
                                <script>
                                    // PLEASE READ!!!!! DISREGARD SQUIGLY ERROR
                                    var schoolYear = <%= flowchart.startingYear %>;
                                    var finalAY = document.createElement('div');
                                    finalAY.className = "school-year";
                                    finalAY.innerHTML = schoolYear + "-" + (parseInt(schoolYear) + 1);
                                    document.getElementById("flowchart-table").getElementsByClassName("ay")[0].getElementsByClassName("col-sm-8")[0].appendChild(finalAY);
                            </script>
                        </div>
                        <div class="term-header">
                            <div class="term">Term 1</div>
                            <div class="term">Term 2</div>
                            <div class="term">Term 3</div>
                        </div>
                        <script>

                            for(let i = 1; i < <%= flowchart.numberOfAY%>; i++){
                                createAY();
                            }
    
                            function createAY(){
    
                                const flowchartTable = document.getElementById("flowchart-table");
                                const mainCanvas = document.getElementById('canvas')
    
                                //MAIN PARENT
                                var newSY = document.createElement('div');
                                newSY.className = 'ay'
    
                                //MAIN CHILD: SY
                                var inputSY = document.createElement('div')
                                inputSY.className = 'col-sm-8'
    
                                //MAIN CHILDREN: term headers
                                var termHeader = document.createElement('div')
                                termHeader.className ='term-header'
    
                                var finalAY = document.createElement('div')
                                finalAY.className = "school-year"
                                var newAY = flowchartTable.getElementsByClassName('ay')
                                
                                newAY = newAY[newAY.length - 1].getElementsByClassName("school-year")[0].innerHTML.split("-")[0]
                                finalAY.innerHTML = (parseInt(newAY) + 1) + "-" + (parseInt(newAY) + 2)
    
                                //CHILD OF TERM HEADERS
                                var term1 = document.createElement('div')
                                term1.className='term'
                                term1.innerHTML='Term 1'
                                var term2 = document.createElement('div')
                                term2.className='term'
                                term2.innerHTML='Term 2'
                                var term3 = document.createElement('div')
                                term3.className='term'
                                term3.innerHTML='Term 3'
    
                                //INSERT ALL INTO HTML
                                flowchartTable.insertBefore(newSY, document.getElementById('ay-adder'))
                                newSY.appendChild(inputSY)
                                newSY.appendChild(termHeader)
                                inputSY.appendChild(finalAY)
                                termHeader.appendChild(term1)
                                termHeader.appendChild(term2)
                                termHeader.appendChild(term3)
                            }
                        </script>
                    </div>
                    <div id="canvas" style="top: 270px; width: calc(330px * <%= flowchart.numberOfAY%>);">
                        <!-- Please add the subjects here. -->
                        <% courses.forEach(function(course){ %>
                            <!-- PLEASE READ!!!!! DISREGARD SQUIGLY ERROR-->
                            <div class="subject" style='background: <%= course.style %>; left: <%= course.leftPosition %>px; top: <%= course.topPosition %>px'><%= course.code %></div>
                        <% }); %>
                        <svg id="svg-canvas">
                            <!-- Leave this blank -->
                        </svg>
                    </div>
                </div>
                </div>
            </main>
        <%- include('partials/footer'); -%>
    </body>
</html>
