<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/viewFlowchart.css"> 
    <title>View Flowchart</title>
</head>
    <body>
        <header>
            <%- include('partials/sidebar'); -%>
        </header>
        <main>
            <%- include('partials/searchbar'); -%>
            <br>
            <div style="margin: left 10px;" class="bio-flow-heading">
                Your Flow Charts
            </div>
            
            <div class="control-width row">
                <% flow.forEach(function(flow){ %>
                    <div class="card">
                        <img src="images/flowchart.png" alt="flowchart pic" class="box-img" style=" width: 135px;
                        height: 150px; border-radius: 25px;">
                        <a href ="/viewFlowchart/<%=flow.id%>" data-toggle="tooltip" title="View flowchart">
                            <h5><%= flow.title %></h5>
                        </a>
                        <a href ="/editFlowchart/<%=flow.id%>" data-toggle="tooltip" title="Edit flowchart">
                            <i class="far fa-edit fa-xl" style="margin-left:85px;"></i>
                        </a>
                        <a href ="/deleteFlowchart/<%=flow.id%>" data-toggle="tooltip" title="Delete flowchart">
                            <i class="far fa-trash-alt fa-xl" style="margin-left:5px;"></i>
                        </a>
                    </div>
               <% }); %>
            <div class="column">
               <!-- Create Flowchart -->
               <a type="button" data-toggle="modal" data-target="#createFlowchart">
                <div class="card">
                    <img src="images/create.webp" alt="create pic" class="box-img" style=" width: 140px;
                    height: 150px; border-radius: 25px; text-align: center; margin-bottom:0.5em;">
                    <br><br>
                    <h5 style="color: #7a7a7a; text-align: center;">Create new flowchart</h5>                    
                </div>
                </a>
                <!-- Create new flowchart Modal -->
                <div class="modal fade" id="createFlowchart" tabindex="-1" role="dialog" aria-labelledby="addCourseLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"><b>Flowchart Details</b></h4>            
                            </div>
                            <form action="/editflowchart" method="post">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="courseCode" class="col-sm-3 col-form-label"><b>Title</b></label>
                                        <div class="col-sm-7">
                                            <input id="new-course-id" class="form-control form-control-sm" type="text" placeholder="Enter flowchart name here..." name="flowchartName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="profCode" class="col-sm-3 col-form-label"><b>College Dept.</b></label>
                                        <div class="col-sm-7">
                                            <input id="new-prof-id" class="form-control form-control-sm" type="text" placeholder="Enter college department here..." name="deptName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="profCode" class="col-sm-3 col-form-label"><b>Starting A.Y.</b></label>
                                        <div class="col-sm-7">
                                            <input id="new-prof-id" class="form-control form-control-sm" type="text" placeholder="Enter first A.Y. of flowchart here..." name="startAY">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create Flowchart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        </div>
        </main>
    </body>
    <%- include('partials/footer'); -%>
</html>
